<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <ul id="nav-links" class="nav navbar-nav text-xs-center">
      <li >
        <a class="smooth text-uppercase" href="#aswwu"> ASWWU</a>
      </li>
      <li >
        <a class="smooth text-uppercase" href="https://aswwu.com/mask">Mask</a>
      </li>
      <li class='hidden-xs-down'>
        <a class="smooth text-uppercase" href="#upcoming">upcoming</a>
      </li>
      <li class="hidden-xs-down">
        <a class="smooth text-uppercase" href="https://aswwu.com/atlas">Atlas</a>
      </li>
      <li class="hidden-sm-down">
        <a class="text-uppercase" href="./things2do">Things to do </a>
      </li>
      <li class="hidden-sm-down">
        <a class="smooth text-uppercase" href="https://my-first-store-that-is-so-awesome.myshopify.com/">Gear</a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle text-uppercase" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
        <div class="dropdown-menu bg-inverse">
          <a class="dropdown-item smooth text-uppercase hidden-sm-up" href="#upcoming">upcoming</a>
          <a class="dropdown-item smooth text-uppercase hidden-sm-up" href="#atlas">Atlas</a>
          <a class="dropdown-item smooth text-uppercase hidden-md-up" href="#thingsToDo">Things to do </a>
          <a class="dropdown-item smooth text-uppercase hidden-md-up" href="https://my-first-store-that-is-so-awesome.myshopify.com/">Gear</a>
          <a class="dropdown-item text-uppercase smooth" href="#globalService">Global Service</a>
          <a class="dropdown-item text-uppercase smooth" href="#">SM/AC map</a>
          <a class="dropdown-item text-uppercase" href="https://aswwu.com/uploads/ASWWU/ASWWU-Application-2016-2017.docx">Work for ASWWU</a>
        </div>
      </li>
    </ul>
  </nav>