/*Contains styles for /things2do. */

/*THings to do*/
#listThingsToDo {
  list-style: none;
  list-style-type: none;
  font-size: 1.2em;
}

#listThingsToDo li {
  padding-bottom: 20px;
  text-transform: uppercase;
}

#listThingsToDo li img {
  margin-right: 30px;
}

.icon {
  width: 80px;
  height:auto;
}
