<app-nav-bar></app-nav-bar>

<!-- ASWWU Logo -->
<div id="aswwuLogo">
    <img src="https://aswwu.com/media/images/ASWWU_logo_full.png" />
</div>

<!-- About US -->
<section id="aswwu">
    <div class="container">
      <h1 class="text-xs-center text-uppercase">ASWWU</h1>
      <hr>
      <h5 class="text-xs-center text-uppercase">We are aswwu, and so are you.</h5><br />
      <div class="row ">
        <div class="col-md-6 offset-md-3">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
      </div>
    </div>
</section>

<!-- Mask -->
<div id="mask" class="parallax-window center-content" style="background-image: url('https://static.wixstatic.com/media/de317edf9480039c6c4d425f78b91e1c.png/v1/crop/x_0,y_0,w_330,h_331/de317edf9480039c6c4d425f78b91e1c.png'); background-repeat: repeat;background-size:initial; background-color:#99d7ea;">
  <div class="container">
    <h1 class="text-white text-uppercase text-giant">The mask </h1><br />
    <div id="searchInputGroup" class="input-group">
      <input id="maskSearchQuery" type="text" class="form-control" placeholder="Find the one...">
      <span class="input-group-btn">
        <button class="btn btn-secondary btn-outline-secondary giant-link giant-white" type="button" onClick="maskSearch()">Go!</button>
      </span>
    </div>
  </div>
</div>

<!-- upcoming -->
<section id="upcoming">
    <div class="container">
      <h1 class="text-xs-center text-uppercase">upcoming</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-xs-center">
          <p>
            <app-upcoming></app-upcoming>
          </p>
        </div>
      </div>
    </div>
</section>

<!-- ASWWU gear -->
<div id="gear" class="parallax-window center-content" style="background-image: url('https://static.wixstatic.com/media/035244_a74c8f313159492aadec43c732830d56.jpg/v1/fill/w_1299,h_840,al_c,q_85,usm_0.66_1.00_0.01/035244_a74c8f313159492aadec43c732830d56.jpg'); background-size:cover;">
  <div class="container">
    <h1 class="text-white text-uppercase text-giant">ASWWU Gear</h1><br />
    <a class="btn btn-outline-secondary btn-lg m-x-auto giant-link giant-white" href="https://my-first-store-that-is-so-awesome.myshopify.com/">I will shop now</a>
  </div>
</div>

<!-- Global Service -->
<section id="globalService">
    <div class="container text-xs-center">
      <img class="logo m-x-auto" src="https://aswwu.com/departments/global_service/global_service_logo.png" />
      <a class="btn btn-outline-secondary btn-lg giant-link giant-black" href="#">Donate Today</a>
    </div>
</section>

<!-- Atlas -->
<div id="atlas" class="parallax-window center-content" style="background-image: url('http://freedesignfile.com/upload/2014/03/Coffee-beans-5.jpg'); background-repeat: repeat;background-size:initial;">
  <div class="container">
    <img class="logo" src="https://aswwu.com/atlas/media/atlasMain.png" /><br />
    <a class="btn btn-outline-secondary btn-lg m-x-auto giant-link giant-white" href="https://aswwu.com/atlas">Check it out</a>
  </div>
</div>

<!-- Collegian -->
<section id="collegian">
  <div id="collegianContainer" class="container text-xs-center">
    <!-- fix for relative media paths https://stackoverflow.com/questions/36287518/angular-2-img-src-in-a-relative-path -->
    <img class="logo m-x-auto" src="../original/media/collegian_logo.png" />
    <br />
    <a href="http://aswwucollegian.wixsite.com/aswwu" class="btn btn-outline-secondary btn-lg giant-link giant-black" target="_blank">Read More</a>
  </div>
</section>

<app-footer></app-footer>
