<div class="container">
    Senate Election  
  <div class="card">
    <div class="card-header navbar-nav-scroll scrollable">
      <ul class="nav nav-tabs card-header-tabs flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': pageNumber==0, 'disabled': pageNumber!=0}">Districts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': pageNumber==1, 'disabled': pageNumber!=1}">Senators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': pageNumber==2, 'disabled': pageNumber!=2}">Submit</a>
        </li>
      </ul>
    </div>
  <div *ngIf='pageNumber == 0'>
    <div class="card-body">

    <!-- SELECT DISTRICT PAGE -->

    <div *ngFor="let district of districts; let i = index" class="btn-group-vertical btn-group-toggle col p-1" ngbRadioGroup name="district_input" [(ngModel)]="selectedDistrict">  
      <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="{{district}}"> {{i+1 + " \u2014 " + district}}
      </label>
    </div>

    </div>
    <div class="card-footer">
      <button type="button" (click)='getCandidates();' class="btn btn-primary mx-auto w-25 d-block" [ngClass]="{'active': selectedDistrict != '', 'disabled': selectedDistrict==''}">Go!</button>
    </div>
  </div>

  <!-- SELECT CANDIDATE PAGE -->

  <div *ngIf='pageNumber == 1'>
      <div class="card-body">

    <div class="row">
        <div *ngFor="let candidate of candidates;" class="col-md p-1 card">
          <div class="card-body">
            <img src="{{candidate.photo}}">
          </div>
          <div class="card-footer btn-group-toggle">
            <label ngbButtonLabel class="btn btn-primary">
              <input ngbButton type="checkbox" [ngModel]="candidateModel[candidate.username]" (ngModelChange)="valueChange($event, candidate.username)" [disabled]='!enableVoting(candidate.username, true)'> 
              {{candidate.name}}
            </label>
          </div>
        </div>
    </div>
    <hr>

    <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="writeInModel.writeIn1" [disabled]='!enableVoting(writeInModel.writeIn1, false)'/>
    <input type="text" class="form-control" [(ngModel)]="writeInModel.writeIn2" [disabled]='!enableVoting(writeInModel.writeIn2, false)'/>
  </div>
      <hr>

      </div>
      <div class="card-footer">
          <button type="button" (click)='submit();' class="btn btn-primary mx-auto w-25 d-block">Vote!</button>
  </div>
  </div>

  <!-- SUBMISSION PAGE -->

  <div *ngIf='pageNumber == 2' class="card-body">
      <div class="card-body">
    submission status
    </div>
  </div>
</div>
</div>