<!-- SELECT DISTRICT PAGE -->

<div *ngIf='showDistricts'>

  <div class="btn-group btn-group-toggle;" ngbRadioGroup name="district_input" [(ngModel)]="selectedDistrict">
      <label *ngFor="let district of districts;" ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="{{district}}"> {{district}}
      </label>
    </div>
    <hr>
  <pre>{{selectedDistrict}}</pre>

  <button (click)='getCandidates();'>Go!</button>
  
</div>

<!-- SELECT CANDIDATE PAGE -->

<div *ngIf='!showDistricts'>

  <div class="btn-group btn-group-toggle;">
      <label *ngFor="let candidate of candidates;" ngbButtonLabel class="btn-primary">
        <input ngbButton type="checkbox" [ngModel]="candidateModel[candidate.username]" (ngModelChange)="valueChange($event, candidate.username)" [disabled]='!enableVoting(candidate.username)'> {{candidate.name}}
        <img src="{{candidate.photo}}">
      </label>
    </div>
    <hr>

  <button (click)='submit();'>Vote!</button>

</div>
