<div class="row">
  <div class="col p-0">
    <button class="scroll-button p-0" type="button" (click)="scroll(true)"><i class="fa fa-3x fa-caret-left"></i></button>
  </div>
  <div id="scrolling-wrapper-{{uniqueID}}" class="scrolling-wrapper col-10 col-md-11 col-xl-11">
    <!-- profile card -->
    <profile-card
      *ngFor="let item of profileData; let i=index;"
      id="{{i}}-{{uniqueID}}"
      class="scroll-card col-xs-12 col-md-6 col-xl-4"
      [profile]="item">
    </profile-card>
    <!-- page card -->
    <page-card
      *ngFor="let item of pageData; let i=index;"
      id="{{i}}-{{uniqueID}}"
      class="scroll-card col-xs-12 col-md-6 col-xl-4"
      [page]="item"
      [showMeta]="showMeta">
    </page-card>
    <!-- job card -->
    <job-card
      *ngFor="let item of jobData; let i=index;"
      id="{{i}}-{{uniqueID}}"
      class="scroll-card col-xs-12 col-md-6 col-xl-4"
      [job]="item">
    </job-card>
  </div>
  <div class="col p-0">
    <button class="scroll-button button-outline-secondary p-0" type="button" (click)="scroll(false)"><i class="fa fa-3x fa-caret-right"></i></button>
  </div>
</div>
