/*This css file should contain any css that gets used througout this page and it's subpages. */

@import 'https://fonts.googleapis.com/css?family=Dosis:300,400|Pacifico|Raleway:400,700';

/*Global fonts */
body{
  font-family: 'Dosis', sans-serif;
}
p, a, button {
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.text-white {
  color: white;
}

/*Nav*/
#nav-links {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}
#nav-links li {
  display: inline-block;
  float: none;
  border-right: 1px solid white;
  padding: 0 16px 0 16px;
}
#nav-links li:nth-last-child(1) {
  border-right: none;
}
#nav-links li a {
  font-family: 'Dosis', sans-serif;
  color: white;
  transition: color .2s, background-color .2s;
}
#nav-links li a:hover {
  color: grey;
  text-decoration: none;
}
.navbar {
  border-radius: 0;
}

#aswwuLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://aswwu.com/media/background.php);
  background-size:cover;
  height:95vh;
  width: 100%;
}
#aswwuLogo img{
  width: 100%;
max-width: 800px;
height: auto;
padding: 0 20px 0 20px;
}

/*Section */
section {
  padding-top: 20px;
  padding-bottom: 50px;
}
section.dark {
  background-color: #f4f4f4;
}
hr {
  width: 36px;
  border-color: #2f2e2e;
  border-width: 3px;
  margin-top:1.2em;
  margin-bottom:1.5em;
}


/*Parallax window attributes*/
.parallax-window {
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax-center {
  position: relative;

}

/*Footer*/
#footer {
  padding-top: 50px;
  background-color: #4e5255;
  padding-bottom: 34px;
}
#footerLogo {
  max-width: 200px!important;
}
.footerLink {
  color:#a7abae;
  transition: color .2s;
}
.footerLink:hover, .footerLink:active, .footerLink:focus{
  color:white!important;
  text-decoration: none;
}

/*Social*/
#social {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}
#social li {
  display: inline-block;
  padding-right: 10px;
}
#social li a svg {
  height: 30px;
  width: 30px;
  fill:#a7abae;
  transition: fill .2s;
  overflow: hidden;
}
#social li a svg:hover {
  fill:white;
}
#brand {
  color:#cdcfd0;
}

/*Random utilities*/
.m-x-auto {
  display: block;
}

.logo {
  max-width: 400px;
  width:100%!important;
  height: auto;
  margin-bottom: .8em;
}

.full_height_parent{
  display: flex;
}
.full_height_child {
  align-items: stretch;
}

/*Giant link styles */
.giant-link {
  color: white;
  border-radius: 0;
  border-width: 3px;
  border-color:white;
  transition: color .2s, border-color .2s;
  font-weight: bold;
}
.giant-white {
  color: white;
  border-color: white;
}
.giant-black {
  color: #373a3c;
  border-color: #373a3c;
}
.giant-link:hover, .giant-link:active, .giant-link:focus {
  color: #8c8c8c!important;
  background-color: transparent!important;
  border-color: #8c8c8c!important;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-giant {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
}
