<div class="page-container">
  <!-- header -->
  <div class="w-100 bg-success mb-5 p-4">
    <h1 class="text-center text-light text-uppercase m-0" style="line-height:6.3rem;">Search</h1>
    <div class="mb-3">
      <super-duper [model]="parameterSearch"></super-duper>
    </div>
  </div>
  <!-- content -->
  <div class="container">
    <div *ngIf="resultsReady == 1">
      <p>
        Loading...
      </p>
    </div>
    <div *ngIf="resultsReady == 2">
      <div *ngIf="profileData.length > 0">
        <h1 class="text-center">Users</h1>
        <scroll-cards [profileData]="profileData"></scroll-cards>
      </div>
      <div *ngIf="pageData.length > 0">
        <h1 class="text-center">Pages</h1>
        <scroll-cards [pageData]="pageData" showMeta="1"></scroll-cards>
      </div>
      <div *ngIf="jobData.length > 0">
        <h1 class="text-center">Jobs</h1>
        <scroll-cards [jobData]="jobData"></scroll-cards>
      </div>
    </div>
  </div>
</div>
