<!-- ASWWU Logo -->
<div id="aswwuLogo" class="center-content" [style.backgroundImage]="bgLinkChanged"><!-->[ngStyle]="{ 'background-image': bgLinkChanged }">-->
    <div class="container">
      <div class="center-content w-100">
        <img class="aswwu-logo" src="https://aswwu.com/media/images/ASWWU_logo_full.png"/>
      </div>
        <super-duper class="center-content w-100" style="margin-top: 3rem;"></super-duper>
    </div>
</div>

<!-- upcoming -->
<section id="upcoming">
    <div class="container">
      <h1 class="text-center text-uppercase">upcoming</h1>
      <hr>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-xs-center">
          <div class="alert alert-info" role="alert">
              The Senate Election for <em><strong>District 3 - Conard</strong></em> is today! Click <u><a href="https://aswwu.com/senate-election" class="alert-link">here</a></u> to vote!
          </div>
          <div class="alert alert-info" role="alert">
	    <!--The <em><strong>ASWWU Outdoors Trail Run</strong></em> is this weekend! Click <u><a href="https://wwuform.formstack.com/forms/aswwu_outdoors_trail_run" class="alert-link">here</a></u> to sign up!-->
          </div>
          <p>
            <upcoming></upcoming>
          </p>
        </div>
      </div>
    </div>
</section>

<!-- Atlas -->
<div id="atlas" class="parallax-window center-content" style="background-image: url('http://freedesignfile.com/upload/2014/03/Coffee-beans-5.jpg'); background-repeat: repeat;background-size:initial;">
  <div class="container">
    <div class="center-content w-100"><img class="logo" src="https://aswwu.com/atlas/media/atlasMain.png" /></div><br />
    <a class="btn btn-outline-secondary btn-lg m-x-auto giant-link giant-white" href="https://aswwu.com/atlas">Check it out</a>
  </div>
</div>

<!-- About US -->
<section id="aswwu">
    <div class="container">
      <h1 class="text-center text-uppercase">ASWWU</h1>
      <hr>
      <h5 class="text-center text-uppercase">We are aswwu, and so are you.</h5><br />
      <div class="row ">
        <div class="col-md-6 offset-md-3">
          <p>ASWWU is the Associated Students of Walla Walla University, and aims to improve the quality of life for all students on the WWU campus.</p>
        </div>
      </div>
    </div>
</section>

<!-- ASWWU Mountain Rents -->
<div id="gear" class="parallax-window center-content" style="background-image: url('https://static.wixstatic.com/media/035244_a74c8f313159492aadec43c732830d56.jpg/v1/fill/w_1299,h_840,al_c,q_85,usm_0.66_1.00_0.01/035244_a74c8f313159492aadec43c732830d56.jpg'); background-size:cover;">
  <div class="container">
    <h1 class="text-white text-uppercase text-giant">Mountain Rents</h1><br />
    <a class="btn btn-outline-secondary btn-lg m-x-auto giant-link giant-white" href="https://aswwu.com/pages/mt-rents">Learn More</a>
  </div>
</div>

<!-- Collegian & Global Service-->
<section id="collegian" class="container"><div class="row">
  <div id="collegianContainer" class="container text-center col-md-6">
    <img class="logo" src="https://aswwu.com/media/images/collegian/collegian_logo.png" />
    <br />
    <a href="https://aswwu.com/pages/collegian" class="btn btn-outline-secondary btn-lg giant-link giant-black" target="_blank">Read More</a>
  </div>
  <div class="container text-center col-lg-6">
    <img class="logo" src="https://aswwu.com/media/images/global_service/global_service_logo.png" />
    <br />
    <a class="btn btn-outline-secondary btn-lg giant-link giant-black" href="https://aswwu.com/pages/globalservice">Donate Today</a>
  </div>
</div></section>
