<p class="text-center">
  Send a message directly to the ASWWU administration.
</p>

<div *ngFor="let officer of officers" class="btn-group btn-group-toggle col-md-6 col-lg-4 p-1" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedOfficer">
  <label ngbButtonLabel class="w-100 btn-outline-dark aswwu-outline-dark">
    <input ngbButton type="radio" [value]="officer"> {{officer}}
  </label>
</div>

<div class="form-group p-1">
  <label for="MessageInput">Message</label>
  <textarea class="form-control aswwu-outline-dark font-weight-light" id="MessageInput" [(ngModel)]="messageBody" rows="3" minlength="{{minChars}}" maxlength="{{maxChars}}" [placeholder]="!getLoggedOn() ? 'Log in to send a message.': 'Message'" [disabled]="!getLoggedOn()"></textarea>
  <p class="text-right"><small><span class="font-weight-bold" [ngClass]="{'text-danger': (messageBody.length < minChars)}">{{messageBody.length}}</span> / {{maxChars}}</small></p>
  <button type="button" [ngClass]="{'disabled btn-outline-dark': !checkForm(), 'btn-dark': checkForm()}" (click)='sendMessage();' class="btn aswwu-outline-dark mx-auto w-100 mt-3 p-1">Send</button>
  <p *ngIf="showSendStatus"><small [ngClass]="{'text-danger': sendFailed}">{{sendStatus}}</small></p>
</div>
