.search-bar {
  width: 400px;
  margin: auto;
}

#search-button {
    z-index: 2;
    width: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#search-button:hover {
    background-color: white;
    color: grey;
}

#search-button:active {
    box-shadow: none;
    border-color: white;
}

#search-input {
    z-index: 0;
    font-weight: 900;
    font-family: var(--font-2);
    color: white;
    padding-top: 12px;
    padding-bottom: 9px;
    transition: color .2s, background-color .2s;
    background-color: rgba(0, 0, 0, .5);
}

#search-input:focus {
    background-color: white;
    color: grey;
}

.search-outline:focus {
    box-shadow: none;
}

::placeholder {
    color: white;
}

#search-icon {
    height: 16px !important;
    width: 16px !important;
}

.search-outline {
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .5);
    height: 50px;
}

.super-section-header {
    background-color: grey !important;
    color: white;
    font-weight: bold;
    padding: .15rem .5rem;
}

#search-dropdown {
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    border-color: white;
    z-index: 1;
    color: white;
    min-width: 86px;
}

#search-dropdown:hover {
    background-color: white;
    color: grey;
}

#search-dropdown:focus {
    background-color: white;
    color: grey;
}

.dropdown-menu {
    min-width: 0rem !important;
    left: -5px !important;
    width: 141px;
}

.dropdown-item:hover {
    background-color: var(--color-aswwu-primary);
    color: white;
}

.dropdown-item:focus {
    background-color: white;
    color: black;
}
