#search-bar {
  width: 400px;
  margin: auto;
}

#search-button {
    z-index: 0;
    width: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: 0px;
}

#search-button:hover {
    background-color: white;
    color: grey;
}

#search-button:active {
    box-shadow: none;
    border-color: white;
}

#search-input {
    z-index: 1;
    font-weight: 900;
    font-family: var(--font-2);
    color: white;
    padding-top: 12px;
    padding-bottom: 9px;
}

.search-outline:focus {
    box-shadow: none;
}

::placeholder {
    color: white;
}

#search-icon {
    height: 16px !important;
    width: 16px !important;
}

.search-outline {
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .5);
    height: 50px;
}

