<div class="search-bar input-group mb-3">
  <form class="input-group">
    <input #searchInput type="search" id="search-input" class="form-control search-outline" [ngbTypeahead]="search" placeholder="{{placeHolder}}">
    <div ngbDropdown>
      <button id="search-dropdown" class="btn search-outline" ngbDropdownToggle>{{ selectSites }}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" *ngFor="let site of sites" (click)="ChangeSite(site)" ngbDropdownItem>{{site}}</button>
      </div>
    </div>
    <div class="input-group-append">
      <button id="search-button" class="btn btn-primary search-outline" (click)="superSearch(searchInput.value)" ><fa-icon id="search-icon" icon="search"></fa-icon></button>
    </div>
  </form>
</div>

