<div id="searchInputGroup" class="input-group mx-auto">
  <ng-template #rt let-r="result" let-t="term">
    <div *ngIf="r.top" class="dropdown-header super-section-header">{{r.source}}</div>
    <div (click)="goToResult(r.link)" class="result">{{r.main}}</div>
  </ng-template>
  <input #maskInput (keyup.enter)="maskSearch(maskInput.value)" [resultTemplate]="rt" id="maskSearchQuery" type="text" class="form-control" [class.is-invalid]="searchFailed" [value]="model" [ngbTypeahead]="search" [inputFormatter]="formatter" placeholder="Find the one...">
  <span class="input-group-btn">
    <button id="maskSearchButton" class="btn btn-secondary btn-outline-secondary giant-link giant-white" type="button" (click)="maskSearch(maskInput.value)">Go!</button>
  </span>
</div>
