/*Mask search */
#searchInputGroup {
    max-width: 400px;
    width:100%;
}
  
/*Mask Quick search */
#maskSearchQuery {
    font-family: 'Raleway', sans-serif;
    color: white;
    border-radius: 0;
    border-width: 3px;
    border-color: white;
    transition: color .2s, background-color .2s;
    font-weight: bold;
    background-color: transparent;
    padding-top:12px;
    padding-bottom: 12px;
    border-right-width: 0;
}
#maskSearchQuery::-webkit-input-placeholder {
    color: white;
}
#maskSearchQuery:focus {
    background-color: white;
    color:#999;
}
#searchInputGroup span button {
    padding-top: 12px;
    padding-bottom: 12px;
}

#searchInputGroup >>> .dropdown-menu {
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.super-section-header {
    background-color: grey !important;
    color: white;
    font-weight: bold;
    margin-top: -.25rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: .75rem;
    padding-top: .0rem;
    padding-bottom: .0rem;
    margin-bottom: .25rem;
}